<%= render 'shared/errors', active_object: @errors %>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <%= form_for @player_character do |f| %>
        <div class="row">
          <div class="col s12">
            <%= f.label "Name" %>
            <div class="input-field inline">
              <%= f.text_field :name, placeholder: "Character Name", class: "form-control" %>
            </div>
            <%= f.label "Class"%>
            <%= f.text_field :class_name, placeholder: "Class Name" %>

            <%= f.label "Character Description" %>
            <%= f.text_area :description, placeholder: "Enter a physical description of your character" %>

            <%= f.label "HP Modifier" %>
            <%= f.number_field :hp_mod, in: 4..10, step: 2 %>

            <%= f.label "Load Modifier" %>
            <%= f.number_field :load_mod, in: 6..10, step: 1, value: 6 %>
          </div>

        </div>

        <div class="row stats">

          <div class="col s1">
            <%= f.label "STR" %>
            <%= f.number_field :strength, in: 1..18, step: 1, value: 10 %>
          </div>

          <div class="col s1">
            <%= f.label "DEX" %>
            <%= f.number_field :dexterity, in: 1..18, step: 1, value: 10 %>
          </div>

          <div class="col s1">
            <%= f.label "CON" %>
            <%= f.number_field :constitution, in: 1..18, step: 1, value: 10 %>
          </div>

          <div class="col s1">
            <%= f.label "INT" %>
            <%= f.number_field :intelligence, in: 1..18, step: 1, value: 10 %>
          </div>

          <div class="col s1">
            <%= f.label "WIS" %>
            <%= f.number_field :wisdom, in: 1..18, step: 1, value: 10 %>
          </div>

          <div class="col s1">
            <%= f.label "CHA" %>
            <%= f.number_field :charisma, in: 1..18, step: 1, value: 10 %>
          </div>
        </div>

        <div class="row">


        </div>

        <div class="row">
          <div class="col s12">
            <%= f.fields_for :race do |t| %>
            <%= t.label "Race" %>
            <%= t.text_field :name, placeholder: "Race Name" %>
            <%= t.label "Description" %>
            <%= t.text_area :description, placeholder: "Race Description", class: "form-control"%>
            <% end %>

          </div>

        </div>

        <div class="row">
          <div class="col s12">
            <%= f.fields_for :alignment do |t| %>
            <%= t.label "Alignment" %>
            <%= t.text_field :name, placeholder: "Alignment Name" %>
            <%= t.label "Description" %>
            <%= t.text_area :description, placeholder: "Alignment Description", class: "form-control"%>
            <% end %>

          </div>

        </div>

        <div class="row">
          <div class="col s12">
            <div class="moves-input">
              <% if params[:moves] && params[:moves][:"1"][:name] != "" && params[:moves][:"1"][:description] != ""%>
                <% params[:moves].each do |move_num| %>
              <% else %>
                <input type="text" name="moves[1][name]" placeholder="Move Name" class="moves-name">
                <textarea name="moves[1][description]" placeholder="Description of Move" class="moves-description form-control"></textarea>
              <% end %>
            </div>
          </div>

          <div class="col s12">
            <div class="btn moves-button">
              Add Move
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="bonds-input">
              <% if params[:bonds] && params[:bonds][:"1"][:description] != "" %>
                <% params[:bonds].each do |bond, description| %>
                  <% if description[:description] != "" %>
                    <textarea name=<%= "bonds[#{bond}][description]" %> class="bond-description form-control"><%= "#{description[:description]}" %></textarea>
                  <% end %>
                <% end %>
              <% else %>
                <textarea name="bonds[1][description]" placeholder="Description of Bond" class="bond-description  form-control"></textarea>
              <% end %>
            </div>
          </div>

          <div class="col s12">
            <div class="btn bonds-button">
              Add Bond
            </div>
          </div>
        </div>

      <%= f.submit "Create Character", class: "btn" %>
      <% end %>

      </div>
    </div>
  </div>
</div>
