<%= render 'shared/errors', active_object: @errors %>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <%= form_for @player_character do |f| %>
        <div class="row">
          <div class="col s12">
            <%= f.label "Name" %>
            <div class="input-field inline">
              <%= f.text_field :name, placeholder: "Character Name", class: "form-control" %>
            </div>

          </div>

        </div>

        <div class="row">
          <div class="co s1">

          </div>
        </div>

        <div class="row">
          <div class="col s1">
            <%= f.label "STR" %>
            <div class="input-field inline">
              <%= f.select :strength, @attribute_array %>
            </div>
          </div>
          <div class="col s1">
            <%= f.label "DEX" %>
            <div class="input-field">
              <%= f.select :dexterity, @attribute_array %>
            </div>
          </div>
        </div>

        <div class="row">
        </div>

        <%= f.label "CON" %>
        <div class="input-field">
          <%= f.select :constitution, @attribute_array %>
        </div>

        <%= f.label "INT" %>
        <div class="input-field">
          <%= f.select :intelligence, @attribute_array %>
        </div>

        <%= f.label "WIS" %>
        <div class="input-field">
          <%= f.select :wisdom, @attribute_array %>
        </div>

        <%= f.label "CHA" %>
        <div class="input-field">
          <%= f.select :charisma, @attribute_array %>
        </div>

        <%= f.submit %>
        <% end %>

      </div>
    </div>
  </div>
</div>
