<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <h4>Character Name: <%= @player_character.name %></h4>

      </div>

    </div>

  </div>
</div>
<%= "LVL: #{@player_character.level}" %>
<%= "STR: #{@player_character.strength}" %>
<%= @player_character.str_mod %>
<%= "DEX: #{@player_character.dexterity}" %>
<%= @player_character.dex_mod %>
<%= "CON: #{@player_character.constitution}" %>
<%= @player_character.con_mod %>
<%= "INT: #{@player_character.intelligence}" %>
<%= @player_character.int_mod %>
<%= "WIS: #{@player_character.wisdom}" %>
<%= @player_character.wis_mod %>
<%= "CHA: #{@player_character.charisma}" %>
<%= @player_character.cha_mod %>

<%= @player_character.class_name %>
<% if @player_character.description %>
  <%= @player_character.description %>
<% end %>

<%= @player_character.hit_points %>
<%# @player_character.load %>

<%= @player_character.race.name %>
<%= @player_character.race.description %>
<%= @player_character.alignment.name %>
<%= @player_character.alignment.description %>

<% @player_character.moves.each do |move| %>
  <ul>
    <li>
      <b><%= move.name %></b>
    </li>
    <li>
      <%= move.description %>
    </li>
  </ul>
<% end %>

<% @player_character.bonds.each do |bond| %>
  <ul>
    <li>
      <%= bond.description %>
    </li>
  </ul>
<% end %>
